build/
node_modules/
npm-debug.log
./data/**/*
.sass-cache
.idea
*.iml
*.sublime-project
*.sublime-workspace
# Ignore TextMate project files
*.tmproj

# Ignore Mac OS metadata files
.DS_Store

# Ignore Mac OS X extended file attribute files
._*
._*/

# Ignore Vim .swp files and temp backups
*.swp
*~

# Emacs tags files
TAGS
*.tags

