  <footer class="footer">
    <div class="sub-footer">
      <div class="footer-container">
        <p class="pull-left">
          Built by the Node.js community<br/>
          Maintained by the glorious interns at<br/>
          <a target="_blank" href='http://madglory.com'><img class="footer-madglory-logo" src='/images/MadGlory-Logo.svg'/></a>
        </p>
        <p class="pull-right">- Contribute on <a href="https://github.com/madgloryint/planet">Github</a> -</p>
        <p class="pull-right">- Subscribe to our RSS <a href="/feed">feed</a> -</p>
      </div>
    </div>
  </footer>


  <script src="/js/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-33396402-5', 'planetnodejs.com');
    ga('send', 'pageview');
  </script>
  <script type="text/javascript">
    var addthis_config = {
      data_track_addressbar : true,
      data_ga_property      : 'UA-33396402-5',
      data_ga_social        : true
    };
  </script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fd7768413d24ce9"></script>
  <script type="text/javascript" src="/js/xdate.js"></script>
  <script type="text/javascript" src="/js/format-dates.js"></script>